<section>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-8">
                <div class="card shadow">
                    <div class="card-body">
                        <h3 class="card-title text-center mb-4">Checkout</h3>
                        <form action="" id="checkout-form">
                            <div class="mb-3">
                                <label for="address" class="form-label">Address</label>
                                <input type="text" class="form-control" id="address" name="address" required>
                            </div>
                            <div class="mb-3">
                                <label for="pincode" class="form-label">Pincode</label>
                                <input type="text" class="form-control" id="pincode" name="pincode" required>
                            </div>
                            <div class="mb-3">
                                <label for="mobile" class="form-label">mobile</label>
                                <input type="text" class="form-control" id="mobile" name="mobile" required>
                                <input type="text" name="userId" value="{{user._id}}" hidden>
                            </div>
                            <div class="mb-3">
                                <label for="total" class="form-label">Total</label>
                                <input type="text" class="form-control" id="total" name="total" value="{{total}}"
                                    readonly>
                            </div>
                            <div class="mb-4">
                                <label for="payment" class="form-label">Payment Method</label>
                                <select class="form-control" id="payment" name="payment" required>
                                    <option name="paymentMethod" value="COD">COD</option>
                                    <option name="paymentMethod" value="online">Online</option>
                                </select>
                            </div>
                            <div class="d-grid">
                                <button type="submit" class="btn btn-primary">Checkout</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    $('#checkout-form').submit(function (e) {
        e.preventDefault();
        $.ajax({
            url: '/place-order',
            method: 'POST',
            data: $('#checkout-form').serialize(),
            success: function (response) {
                if (response.codSuccess) {
                    location.href = '/order-success';
                } else {
                    razorpayPayment(response);
                }
            }
        });
    });
    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_SDyuuqiSGnnLsx", // Enter the Key ID generated from the Dashboard
            "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
            "currency": "INR",
            "name": "Fahmi Corp", //your business name
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler": function (response) {
               // alert(response.razorpay_payment_id);
              // alert(response.razorpay_order_id);
              // alert(response.razorpay_signature)

                verifyPayment(response, order);
            },
            "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
                "name": "Gaurav Kumar", //your customer's name
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url: '/verify-payment',
            method: 'POST',
            data: {
                payment,
                order
            },
            success: function(response){
                if(response.status){
                    location.href = '/order-success';
                }else{
                    alert('Payment Failed');
                }
            }
        });
    }
</script>